html{
    background-image: url(image3.jpg);
}
.grid-container{
    display : grid;
    padding : 10px;
}
.part2{
    border: solid; 
    border-radius: 5px;
    padding:50px;
    width:400px;
    height:390px;
    position:relative;
    left:500px;
    top:100px;
    font-family: Calibri;
    font-size: 20px;
    background-color: rgb(2, 246, 222);
}
#name{
    border:inset;
    border-radius: 5px;
}
#num{
    border:inset;
    border-radius: 5px;
}
#mail{
    border:inset;
    border-radius: 5px;
}
#des{
    border:inset;
    border-radius: 5px;
    width: 171px;
}
#cat{
    border:inset;
    border-radius: 5px;
    width: 171px;
}
#subj{
    border:inset;
    border-radius: 5px;
}
#qua{
    border:inset;
    border-radius: 5px;
    width: 171px;
}
#sub{
    border:inset;
    border-radius: 5px;
    background-color: rgb(199, 9, 104);
    width :100px;
    font-size: 20px;
    color:white
}
#res{
    border:inset;
    border-radius: 5px;
    background-color: rgb(199, 9, 104);
    width :100px;
    color:white;
    font-size: 20px;
    position: relative;
    left: 30px;
}
